@using global::NetDaemon.HassModel
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities
@implements IDisposable

<div class="d-flex flex-column align-items-center justify-content-center gap-3">
    @if (_isLoading)
    {
        <div style="min-height: 75px;">
            <Spinner Color="Color.Warning" Size="BootstrapBlazor.Components.Size.ExtraLarge"/>
        </div>
    }
    else if (Switch.IsOn())
    {
        <button
            @onclick="Toggle"
            class="rounded-circle border border-3 border-warning d-flex justify-content-center align-items-center bg-warning text-dark fs-1"
            style="min-width: @(Size)px; min-height: @(Size)px;">
            <div class="rounded-circle border border-3 border-white"
                 style="min-width: @(Size / 2)px; min-height: @(Size / 2)px"></div>
        </button>
    }
    else
    {
        <button
            @onclick="Toggle"
            class="rounded-circle border border-3 border-warning text-warning-emphasis d-flex justify-content-center align-items-center fs-3 bg-white"
            style="min-width: @(Size)px; min-height: @(Size)px;">
            <div class="rounded-circle border border-3 border-warning"
                 style="min-width: @(Size / 2)px; min-height: @(Size / 2)px;"></div>
        </button>
    }

    <span class="fs-4">@Name</span>
</div>

@code {
    [Parameter] public SwitchEntity Switch { get; set; } = null!;
    [Parameter] public string Name { get; set; } = null!;

    private const int Size = 90;
    private bool _isLoading;
    private readonly List<IDisposable> _disposables = [];

    protected override void OnInitialized()
    {
        _disposables.Add(Switch.StateChanges().SubscribeAsync(async _ =>
        {
            await InvokeAsync(() =>
            {
                _isLoading = false;
                StateHasChanged();
            });
        }));
    }

    private void Toggle(MouseEventArgs obj)
    {
        _isLoading = true;
        Switch.Toggle();
    }

    public void Dispose()
    {
        _disposables.ForEach(d => d.Dispose());
    }

}